.skillcase {
  display: flex;
  flex-direction: column;
  text-align: center;

  @at-root &__title {
    margin-bottom: 10px;
    order: 2;

    @include render(desktop) {
      margin-bottom: 18px;
    } 
  }

  @at-root &__content {
    order: 3;
  }

  @at-root &__icon {
    order: 1;
    margin-bottom: 10px;

    @include render(desktop) {
      margin-bottom: 35px;
    }
  }
}