.slider {
  overflow: hidden;

  @at-root &__page {
    display: flex;
    transition: transform 1s .2s;
  }

  @at-root &__item {
    width: 100%;
    flex: 0 0 auto;
    padding: 100px 0 120px 0;

    @at-root &_src_1 {
      background: url(#{$sliderStoreImg}/newlife-hd.jpg) top left/cover;
    }

    @at-root &_src_2 {
      background: url(#{$sliderStoreImg}/ball-hd.jpg) top left/cover;
    }

    @at-root &_src_3 {
      background: url(#{$sliderStoreImg}/truck-hd.jpg) top left/cover;

    }
  }

  @at-root &__control {

    li {
      border: 2px solid $white;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      float: left;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }


  @at-root &__control__item_highlighted {
    background: $white !important;
  }
}