.slider {
  overflow: hidden;

  @at-root &__page {
    display: flex;
    transition: transform 1s .2s;
  }

  @at-root &__item {
    width: 100%;
    flex: 0 0 auto;
    min-height: 150px;
    background-color: $spruce;
    background-position: center center;
    background-size: cover;

    @at-root &_src_1 {

      //========================PHONE=========================//
      @media(max-width: (map-get($breakpoints, 'tablet') - 1px)) {
        background-image: url(#{$sliderStoreImg}/background-newlife-450.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-newlife-750.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 3dppx) {
        background-image: url(#{$sliderStoreImg}/background-newlife-1080.jpg);
      }

      //=========================TABLET========================//
      @media(min-width: map-get($breakpoints, 'tablet')) {
        background-image: url(#{$sliderStoreImg}/background-newlife-1080.jpg);
      }

      @media (min-width: map-get($breakpoints, 'tablet')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-newlife-1980.jpg);
      }

      //=========================DESKTOP========================//
      @media (min-width: map-get($breakpoints, 'desktop')) {
        background-image: url(#{$sliderStoreImg}/background-newlife-1980.jpg);
      }

      @media (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2) {
        background-image: url(#{$sliderStoreImg}/background-newlife-3840.jpg);
      }
    }

    @at-root &_src_2 {

      //========================PHONE=========================//
      @media(max-width: (map-get($breakpoints, 'tablet') - 1px)) {
        background-image: url(#{$sliderStoreImg}/background-mountain-450.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-mountain-750.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 3dppx) {
        background-image: url(#{$sliderStoreImg}/background-mountain-1080.jpg);
      }

      //=========================TABLET========================//
      @media(min-width: map-get($breakpoints, 'tablet')) {
        background-image: url(#{$sliderStoreImg}/background-mountain-1080.jpg);
      }

      @media (min-width: map-get($breakpoints, 'tablet')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-mountain-1980.jpg);
      }

      //=========================DESKTOP========================//
      @media (min-width: map-get($breakpoints, 'desktop')) {
        background-image: url(#{$sliderStoreImg}/background-mountain-1980.jpg);
      }

      @media (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2) {
        background-image: url(#{$sliderStoreImg}/background-mountain-3840.jpg);
      }
    }

    @at-root &_src_3 {

      // //========================PHONE=========================//
      // @media(max-width: (map-get($breakpoints, 'tablet') - 1px)) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY<768+RATIO<2);
      // }

      // @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 2),
      // (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 2),
      // (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 2dppx) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY<768+RATIO>=2);
      // }

      // @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 3),
      // (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 3),
      // (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 3dppx) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY<768+/RATIO>=3);
      // }

      // //=========================TABLET========================//
      // @media(min-width: map-get($breakpoints, 'tablet')) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY>=768+/RATIO<2);
      // }

      // @media (min-width: map-get($breakpoints, 'tablet')) and (-webkit-min-device-pixel-ratio: 2),
      // (min-width: map-get($breakpoints, 'tablet')) and (min-device-pixel-ratio: 2),
      // (min-width: map-get($breakpoints, 'tablet')) and (min-resolution: 2dppx) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY>=768+/RATIO>=2);
      // }

      // //=========================DESKTOP========================//
      // @media (min-width: map-get($breakpoints, 'desktop')) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY>=1280+/RATIO<2);
      // }

      // @media (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2),
      // (min-width: map-get($breakpoints, 'desktop_hd')) and (min-device-pixel-ratio: 2),
      // (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2) {
      //   background-image: url(https://via.placeholder.com/1980/3A454D/FFCC00?text=DISPLAY>=1980+/RATIO>=2);
      // }
       //========================PHONE=========================//
      @media(max-width: (map-get($breakpoints, 'tablet') - 1px)) {
        background-image: url(#{$sliderStoreImg}/background-road-450.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 2),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-road-750.jpg);
      }

      @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (-webkit-min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-device-pixel-ratio: 3),
      (max-width: (map-get($breakpoints, 'tablet') - 1px)) and (min-resolution: 3dppx) {
        background-image: url(#{$sliderStoreImg}/background-road-1080.jpg);
      }

      //=========================TABLET========================//
      @media(min-width: map-get($breakpoints, 'tablet')) {
        background-image: url(#{$sliderStoreImg}/background-road-1080.jpg);
      }

      @media (min-width: map-get($breakpoints, 'tablet')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'tablet')) and (min-resolution: 2dppx) {
        background-image: url(#{$sliderStoreImg}/background-road-1980.jpg);
      }

      //=========================DESKTOP========================//
      @media (min-width: map-get($breakpoints, 'desktop')) {
        background-image: url(#{$sliderStoreImg}/background-road-1980.jpg);
      }

      @media (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (min-device-pixel-ratio: 2),
      (min-width: map-get($breakpoints, 'desktop_hd')) and (-webkit-min-device-pixel-ratio: 2) {
        background-image: url(#{$sliderStoreImg}/background-road-3840.jpg);
      }
    }
  }

  @at-root &__control {
    border: 2px solid $white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
    background: transparent;
    transition: all ease-out 50ms .1s;

    &:hover,
    &:focus {
      opacity: .5;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @at-root &__control_highlighted {
    background: $white;
    opacity: 1 !important;
    cursor: default;
  }
}