//=============RESET================//
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
figure {
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

input {

  &[type='submit'] {
    -webkit-appearance: none;
  }
}

//=============TYPO===============//
html {
  font-family: $fontMain;
  color: $chost;
  font-size: 62.5%;

  @include render(desktop_hd) {
    font-size: 87.5%;
  }
}

h2,
h3,
h4, 
h5 {
  color: $shark;
  text-transform: uppercase;
}

h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;

  @include render(tablet) {
    font-size: 3.6rem;
  line-height: 4rem;
  }
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  @include render(tablet) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.6rem;

  @include render(tablet) {
    font-size: 1.7rem;
  }
}

h5 {
  font-size: 1.4rem;

  @include render(tablet) {
    font-size: 1.6rem;
  }
}

p {
  font-family: $fontSecond;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

input,
textarea {
  font-size: 1.6rem;
  font-family: inherit;

  @include render(tablet) {
    font-size: 1.4rem;
  }
}