//================COLORS==================//
$java: #23b7a4; //green
$edward: #A4AEAD; //menu
$shuttle-gray: #5b6168;
$white: #ffffff;
$shark: #1d2126; //menu h2
$shark-light: #292f36; //header team, work item footer
$chost: #ccd0d7; //main text
$athens: #E1E6EA; //h2 bar
$athens-light: #eaeef1; //contact background
$iron: #c8cdd0; //socials icons into about, team - footer, 
$irony: #dde1e4;
$iron-light: #d0d5d9; //socials icons hovered
$oslo: #8d8f92; //team footer paragraph, contact text
$spruce: #3A454D; //team footer background, lovely work background, background
$trout: #4e5a62; //team hovered, work bar

//================FONTS===================//
$fontMain: 'Quattrocento Sans',
serif;
$fontSecond: 'Open Sans',
serif;

//================PATHS===================//
$sliderStoreImg: './imgs';
$iconFonts: './font';

//================SIZES===================//
$gap: 15px;
$mainWidth: 1140px;
$mainWidth_hd: 1596px;
$maxClientWidth: 2560px;
$sizeToggleBtn: 40px;
$navHeight: 80px;

//===============TRANSITION================//
$teamCaseFunc: ease-out;
$teamCaseDuration: 200ms;
$teamCaseDelay: 50ms;
$showcaseFunc: $teamCaseFunc;
$showcaseDuration: $teamCaseDuration;
$showcaseDelay: $teamCaseDelay;

//===============BREAKPOINTES=============//
$breakpoints: ('phone': 450px,
'tablet': 768px,
'desktop': 1280px,
'desktop_hd': 1980px,
'desktop_4k': 3840px);

//================MIXINS==================//
@mixin render($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media(min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin flex-row($x) {
  $gutter: $x !global;

  display: flex;
  flex-flow: row wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

@mixin flex-col() {
  flex: none;
  margin-left: $gutter;
  margin-right: $gutter;
}

@mixin flex-width($cols) {
  width: calc((100% * #{$cols} / 12) - (2 * #{$gutter}));
}

//=================ANIMATION=====================//
@keyframes navDesk {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY($navHeight);
  }
}