//==============PARENT================//
.parent {
  overflow-y: scroll;

  @at-root .is-menu-visible {

    .wrapper {
      &:before {
        z-index: 100;
        opacity: .5;
      }
    }

    .nav {
      transform: translateX(0) !important;
      display: none;
    }
  }
}

//==============WRAPPER================//
.wrapper {

  &>.menu-toggle {
    position: sticky;
    position: -webkit-sticky;
    margin-top: $gap;
    z-index: 20;
    top: $gap;
    display: block;
    margin-right: $greatPad_s;
    margin-left: auto;

    @include render(tablet) {
      margin-right: $greatPad_m;
    }
  }

  &:before {
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: $white;
    z-index: -1;
  }
}

//==============COMMON================//
.common {
  padding: 0 $greatPad-s;
  overflow: hidden;

  @include render(tablet) {
    padding: 0 $greatPad_m;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .content {
    margin-bottom: 20px;
  }
}

//==============HEADER================//
.header {
  position: relative;
  margin-top: -($sizeToggleBtn + $gap);

  .logo {
    margin: 0;
    line-height: 0;
    width: 70px;
    position: absolute;
    left: $greatPad_s;
    top: $greatPad_s;
    z-index: 1;

    @include render(tablet) {
      left: $greatPad_m;
    }

    img {
      width: 100%;
    }
  }

  .slider__item {
    padding-left: $greatPad_s;
    padding-right: $greatPad_s;

    @include render(tablet) {
      padding-left: $greatPad_m;
      padding-right: $greatPad_m;
    }
  }

  .slider__control {
    position: absolute;
    bottom: 2 * $gap;
    right: $gap * 2 + $greatPad_s;

    @include render(tablet) {
      right: $gap * 2 + $greatPad_m;
    }
  }

  .title {
    margin-bottom: 20px;
  }

  .content {
    margin-bottom: 40px;
  }

  .button {
    float: left;
    margin-right: 10px;
  }

  .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 110;
    transform: translateX(100%);
  }
}

//==============GREETING================//
.greeting {
  border-bottom: 2px solid $irony;

  .socials {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .assets-list {
    margin-bottom: 40px;
  }
}

//==============TEAM================//
.team {
  padding-bottom: 40px;

  @include render(tablet) {
    @include flex-container(($gap*2));
  }

  .title {
    @include render(tablet) {
      @include flex-item(12, ($gap*2));
    }
  }

  .team-case {

    &:not(:last-of-type) {
      margin-bottom: $greatPad_s;
    }

    @include render(tablet) {
      @include flex-item(6, ($gap*2));

      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: $greatPad_m;
      }
    }
  }
}

//==============WORK================//
.work {
  padding-bottom: 40px;
  background-color: $spruce;
  display: flex;
  flex-direction: column;

  @include render(tablet) {
    @include flex-container(($gap*2));
  }

  .title {
    @include render(tablet) {
      @include flex-item(12, $gap*2);
    }
  }

  .showcase {
    
    &:not(:last-of-type) {
      margin-bottom: $greatPad_s;
    }

    @include render(tablet) {
      @include flex-item(6, ($gap*2));

      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }

      &:not(:nth-last-of-type(-n + 2)) {
        margin-bottom: $greatPad_m;
      }
    }
  }

  .button {
    margin-top: 30px;
    align-self: center;

    @include render(tablet) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

//==============SERVICES================//
.services {
  padding-bottom: 40px;

  .skillcase {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

//==============FEATURES================//
.features {
  padding-bottom: 40px;
  background-color: $spruce;

  .feature {
    &:not(:last-of-type) {
      margin-bottom: $greatPad_s;
    }
  }
}

//==============CONTACT================//
.contact {
  padding-bottom: 40px;

  .map {
    margin-bottom: 30px;
  }
}

//==============FOOTER================//
.footer {
  background-color: $spruce;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}