//=================GRID===================//
.grid {
  @at-root &-container {
    margin-right: $gap;
    margin-left: $gap;

    @include render(tablet) {
      margin-right: 2*$gap;
      margin-left: 2*$gap;
    }

    @include render(desktop) {
      width: $mainWidth;
      margin: auto;
    }

    @include render(desktop_hd) {
      width: $mainWidth_hd;
    }
  }

  @at-root &-row {
    @include flex-row($gap);
  }
}

//=================PARENT=================//
.parent {
  overflow-y: scroll;
  margin: auto;
  min-width: 320px;
  max-width: $maxClientWidth;

  .menu-toggle {
    position: sticky;
    position: -webkit-sticky;
    top: $gap;
    margin-top: $gap;
    margin-right: $gap;
    margin-left: auto;
    z-index: 20;

    @include render(tablet) {
      margin-right: 2 * $gap;
    }

    @include render(desktop) {
      display: none;
    }
  }
}

//=================WRAPPER================//
.wrapper {

  &:before {
    transition: all .4s .3s;
    opacity: 0;
    z-index: -1;
  }

  @at-root .parent_is-menu-visible & {
    &:before {
      z-index: 100;
      opacity: .5;
    }
  }

}

//=================HEADER=================//
.header {
  position: relative;
  margin-top: -($sizeToggleBtn + $gap);

  @include render(desktop) {
    margin-top: 0;
    padding-top: $navHeight;
  }

  .nav {
    position: fixed;
    width: 70%;
    max-width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 110;
    transform: translateX(100%);
    transition: transform .4s .3s;

    @at-root .parent_is-menu-visible & {
      transform: translateX(0);
    }

    @include render(desktop) {
      position: absolute;
      transform: initial;
      bottom: initial;
      width: initial;
      max-width: initial;
      left: 0;
      height: $navHeight;

      @at-root .parent_is-scrolled & {
        position: fixed;
        max-width: $maxClientWidth;
        margin: auto;
        top: (-$navHeight);
        opacity: .7;
        animation: navDesk .6s .3s forwards;
      }
    }

    @at-root &__grid {
      @include render(desktop) {
        width: $mainWidth;
        margin: auto;
        display: flex;
      }

      @include render(desktop_hd) {
        width: $mainWidth_hd;
      }

      .logo {
        @include render(desktop) {
          position: static;
          align-self: center;
        }
      }
    }
  }

  @at-root .slider__item {
    .title {
      @include flex-col();
      @include flex-width(12);
      margin-top: 100px;
      margin-bottom: 20px;

      @include render(desktop) {
        @include flex-width(7);
        margin-top: 225px;
        margin-bottom: 30px;
      }
    }

    .button {
      margin-right: 10px;
      margin-bottom: 10px;
      vertical-align: top;

      &:last-child {
        margin-bottom: 120px;

        @include render(desktop) {
          margin-bottom: 250px;
        }
      }
    }

    .content {
      @include flex-col();
      @include flex-width(12);
      margin-bottom: 37px;

      @include render(desktop) {
        @include flex-width(7);
      }
    }
  }

  @at-root .slider {
    position: relative;

    &__grid-container {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 2 * $gap;
    }

    &__control-container {
      float: right;
    }
  }

  @at-root .logo {
    position: absolute;
    top: $gap;
    z-index: 1;
    left: $gap;

    @include render(tablet) {
      left: 2*$gap;
    }
  }
}

//=================COMMON=================//
.common {
  padding-top: 40px;
  padding-bottom: 40px;

  @include render(desktop) {
    padding-top: 85px;
    padding-bottom: 100px;
  }

  .title {
    @include flex-col();
    @include flex-width(12);

    margin-bottom: 30px;

    @include render(desktop) {
      margin-bottom: 60px;
    }
  }

  .content {
    margin-bottom: 25px;

    @include render(desktop) {
      margin-bottom: 35px;
    }
  }
}

//=================GREETING===============//
.greeting {
  border-bottom: 2px solid $irony;

  @at-root &__wrapper {
    @include flex-col();
    @include flex-width(12);

    @include render(desktop) {
      @include flex-width(7);
    }
  }

  .assets-list {
    @include flex-col();
    @include flex-width(12);

    @include render(desktop) {
      @include flex-width(5);
    }
  }

  .socials {
    margin-top: 47px;
    margin-bottom: 40px;

    @include render(desktop) {
      margin-bottom: 0px;
    }
  }
}

//=================TEAM====================//
.team {

  .team-case {
    @include flex-col();
    @include flex-width(12);
    margin-bottom: $gap;

    @include render(tablet) {
      @include flex-width(6);
      margin-bottom: 2 * $gap;
    }

    @include render(desktop) {
      @include flex-width(3);
    }
  }

  @at-root &__grid {
    margin-bottom: -$gap;

    @include render(tablet) {
      margin-bottom: -(2*$gap);
    }
  }
}

//==================WORK===================//
.work {
  background-color: $spruce;

  @include render(desktop) {
    padding-bottom: 60px;
  }

  .showcase {
    @include flex-col();
    @include flex-width(12);
    margin-bottom: $gap;

    @include render(tablet) {
      @include flex-width(6);
      margin-bottom: (2*$gap);
    }

    @include render(desktop) {
      @include flex-width(4);
    }
  }

  .button {
    @include flex-col();
    margin: $gap auto 0;

    @include render(tablet) {
      margin: 2*$gap auto 0;
    }

    @include render(desktop) {
      margin: 60px auto 0;
    }
  }

  @at-root &__grid {
    margin-bottom: -$gap;

    @include render(tablet) {
      margin-bottom: -(2*$gap);
    }
  }
}

//===============SERVICES=================//
.services {
  @include render(desktop) {
    padding-bottom: 160px;
  }

  .skillcase {
    @include flex-col();
    @include flex-width(12);

    margin-bottom: $gap;

    @include render(desktop) {
      @include flex-width(3);
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

  @at-root &__grid {
    margin-bottom: -$gap;

    @include render(desktop) {
      margin-bottom: -60px;
    }
  }
}

//===============FEATURES==================//
.features {
  background-color: $spruce;

  @include render(desktop) {
    padding-bottom: 120px;
  }

  .feature {
    @include flex-col();
    @include flex-width(12);
    margin-bottom: $gap;

    @include render(desktop) {
      @include flex-width(4);
      margin-bottom: 2*$gap;
    }
  }

  @at-root &__grid {
    margin-bottom: -$gap;

    @include render(desktop) {
      margin-bottom: -2*$gap;
    }
  }
}

//================CONTACT=================//
.contact {
  .map {
    margin-bottom: 30px;

    @include render(desktop) {
      margin-bottom: 55px;
    }
  }

  .info {
    @include flex-col();
    @include flex-width(12);

    @include render(desktop) {
      @include flex-width(6);
    }
  }

  .form {
    @include flex-col();
    @include flex-width(12);
    text-align: center;

    @include render(desktop) {
      @include flex-width(6);
      text-align: left;
      margin-top: -185px;
      z-index: 1;
      align-self: flex-start;
    }
  }
}

//===============FOOTER==================//
.footer {
  background-color: $spruce;
  padding: $gap 0;

  @include render(desktop) {
    padding: 2*$gap 0;
  }

  @at-root &__grid {
    // align-items: center;
  }

  .gravity {
    @include flex-col();
    @include flex-width(12);
    text-align: center;
    margin-bottom: 10px;

    @include render(desktop) {
      @include flex-width(6);
      margin-bottom: 0;
      text-align: left;
      align-self: center;
    }
  }

  .socials {
    @include flex-col();
    @include flex-width(12);
    text-align: center;

    @include render(desktop) {
      @include flex-width(6);
      align-self: center;
      text-align: right;
    }
  }
}